#triptico{
	border: 1px solid black;
	width: 900px;
	height: 540px;
}


.caja-titulo{
	width: 900px;
	background-color: #FDC02F;
	text-align: center; 
	overflow: hidden;
	border-bottom: 1px solid black;
}

.parrafo1{
	width: 150px;
	height: 350px;
	padding: 30px;
	border-right: 1px solid black;
	text-align: justify; 
}

h3, h2, h5{
	text-align: center; 
}


.parrafo2{
	width: 400px;
	height: 350px;
	padding: 30px; 
	border-right: 1px solid black;
	text-align: justify; 
	position: absolute; left: 230px; top: 90px;
}

.parrafo3{
	width: 150px;
	height: 350px;
	padding: 30px; 

	text-align: justify; 
	position: absolute; left: 700px; top: 90px;
}

.caja-pies{
	width: 900px;
	height: 27px;
	background-color: #FDC02F;
	text-align: center; 
	overflow: hidden;
	border-top: 1px solid black;
	position: absolute; top: 520px;
}

.imagen1{
	background-image: url(../img/monopoly.png);
	background-size: 100%;
	position: absolute; top: 480px;
	overflow: hidden;
}

.imagen2{
	background-image: url(../img/monopoly-moderno.png);
	background-size: 100%;
	position: absolute; left:700px; top: 480px;
	overflow: hidden;
}
