#triptico{
	border: 1px solid black;
	width: 900px;
	height: 540px;
	position: absolute;
}


.caja-titulo{
	width: 900px;
	background-color: #FDC02F;
	text-align: center; 
	overflow: hidden;
	border-bottom: 1px solid black;
}

.parrafo1{
	width: 150px;
	height: 350px;
	padding: 30px;
	border-right: 1px solid black;
	text-align: justify;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px; 
}

h3, h2, h5, h1{
	text-align: center;
	font-family: 'Libre Baskerville', serif;
}


.parrafo2{
	width: 400px;
	height: 350px;
	padding: 30px; 
	border-right: 1px solid black;
	text-align: justify; 
	position: absolute; left: 220px; top: 80px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px
}

.parrafo3{
	width: 150px;
	height: 350px;
	padding: 30px; 
	text-align: justify; 
	position: absolute; 
	left: 690px; 
	top: 90px;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px
}

.info{

}
.caja-pies{
	width: 900px;
	height: 45px;
	background-color: #FDC02F;
	text-align: center; 
	overflow: hidden;
	border-top: 1px solid black;
	position: absolute; 
	top: 494px;
}

.monopoly{
	width: 210px;
	height: 170px;
	position: absolute; 
	right: 690px;
	top: 370px;
}

.monopoly-moderno{
	width: 160px;
	height: 120px;
	position: absolute; 
	top: 300px;
}
